/* PARTIE 1 - Style général */

body{
  margin: 0px;
  box-sizing: border-box;
}

.container{
  margin: 50px 7%;
}

ul{ /* Pour enlever les points de l'espacement devant une liste */
  list-style-type: none;
  padding-inline-start: 0px;
}

h1, h2, h3, h4, h5 {
  width: 100%;
}

.w-50{
  width: 50%;

}

.w-75{
  width: 75%;
}

.full{
  width: 100%;
}

.center{
  text-align: center;
  width: 100%;
}







/* PARTIE 2 -
Style pour l'affichage des blocks comme sur whimsicale
*/

section{
  min-height: 10vh;
  background-color: #8DD7CF;
  width: 100%;
  border: 2px solid #1BAD9F;
}


.container > *{
  min-height: 50px;
  min-width: 50px;
  background-color: #B3ACFA;
  border: 2px solid #6559F4;
}

.container > div {
    border: 2px dashed #6559F4;
    min-height: 200px;
}

.container{
  background-color: #fbe192;
  border: 2px solid #F7C324;
}






/* PARTIE 3 -
Style spécifique à chacune des sections

A vous de personnalisez vos container
*/



#hero .container{ /* cible uniquement le container du hero */
  height: 70vh;
  display: flex;
  align-items: center;
}

#about .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skill .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skill .container > div {
  flex-grow: 1;
  margin-right: 30px;
}

#cv .container{
  display: flex;
  flex-wrap: wrap;
}

#cv .container div{
  flex-grow: 1;
  min-width: 250px;
}




/* PARTIE 4 - style responsive */

@media (max-width: 767px) {

  .container{
    margin: 50px 3%;
    justify-content: center !important;
  }

  #hero .container {
    align-items: flex-end;
    height: 50vh;
  }

  #hero .container div {
    width: 100%;
  }

  #about .container p{
    width: 100%;
  }

  #skill .container div{
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
  }

}
